@mixin display-flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;//default:row
    justify-content: $justify;//default:flex-start
    align-items: $align;//default:stretch
}