nz-content {
  min-height: 100vh;
  position: relative;
  padding: 10px;

  background-color: #f5f4f7;
}
.title {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  background-color: #f5f4f7;
}
.inner-content {
  height: 100%;
  width: 100%;
  background-color: #f5f4f7;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  background-color: #f5f4f7;
}

.gross-information {
  width: 100%;

  margin-top: 20px;
  padding: 16px;
  background-color: #ffffff;

  box-shadow: 0 4px 10px 0 rgba(20, 19, 34, 0.03),
    0 0 10px 0 rgba(20, 19, 34, 0.02);
  border: solid 2px #e4e9f0;
}
.element1 {
  margin-bottom: 30px;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}
.options-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 1270px) {
  .element1{
  }
  .options-filter {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 470px) {
  .options-filter div nz-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.filter-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.center-filter {
  width: 200px;
  margin: 0 20px 0 14px;
}
@media screen and (max-width: 1270px) {
  .filter-options {
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .center-filter {
    margin: 10px 0;
  }
}
.element3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
  grid-gap: 1rem;
}

.card {
  height: 130px;
  margin: 1rem 0 0 0;
  padding: 16px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(20, 19, 34, 0.03),
    0 0 10px 0 rgba(20, 19, 34, 0.02);
  border: solid 2px #e4e9f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 350px) {
  .element3 {
    grid-template-columns: repeat(auto-fit, minmax(150px, 5fr));
  }
}
.content span {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
}
.content p {
  margin-top: 20px;
  margin-bottom: 0;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
}
.card img {
  vertical-align: middle;
  border-style: none;
  min-width: 53px;
  min-height: 53px;
}
@media screen and (max-width: 340px) {
  .content span {
    font-size: 14px;
  }
  .content p {
    font-size: 18px;
  }
  .card img {
    min-width: 30px;
    min-height: 30px;
  }
}
@media screen and (max-width: 300px) {
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card img {
    display: none;
  }
}
.changeArrowIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  transform: translate(8px, -10px);
  height: 30px;
}

/*-----------------------------------------------------------------------------*/
.graphics {
  margin-top: 30px;
  min-width: 100%;
}
.principal-container {
  min-width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.graph1 {
  width: 46%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: #ffffff;

  box-shadow: 0 4px 10px 0 rgba(20, 19, 34, 0.03),
    0 0 10px 0 rgba(20, 19, 34, 0.02);
  border: solid 2px #e4e9f0;

  padding-bottom: 25px;
}
.graph2 {
  width: 46%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: #ffffff;

  box-shadow: 0 4px 10px 0 rgba(20, 19, 34, 0.03),
    0 0 10px 0 rgba(20, 19, 34, 0.02);
  border: solid 2px #e4e9f0;

  padding-bottom: 25px;
}
@media screen and (max-width:1600px){
  .principal-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .graph1{
    width: 100%;
    margin-bottom: 15px;
  }
  .graph2{
    width: 100%;
  }
}


.title-graph1 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  font-weight: 600;

  margin-bottom: 35px;
}
.content-graph1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.graph-canvas {
  width: 75%;
}
.graph-info {
  width: 25%;
  min-height: 100%;
  padding: 0 20px;
  margin: 20px 0 auto 0;
  display: flex;
  flex-direction: column;
}
.elem1 {
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width:670px){
  .graph-info{
    padding: 0 1rem 0 0;
    margin: 0 0 auto 0;

  }
  .elem1{
    font-size: 12px;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width:470px){
  .graph-info{
    padding: 0 0.4rem 0 0;
    margin: 0 0 auto 0;

  }
  .elem1{
    font-size: 10px;
  margin: 0.2rem;

  }
}
.title-graph2 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  font-weight: 600;

  margin-bottom: 35px;
}
.content-graph2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*-------------------------------------------------------------------------------*/

/* 
.text-group {
  padding-top: 10px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: #ffffff;
}
.graphics {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.graph1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 48%;
}
.graph {
  width: 70%;
}
.data {
  width: 29%;
  padding-right: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.elem1 {
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.graph2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  max-width: 48%;
  min-height: 100%;
}
.graph2 {
  width: 70%;
}
.data2 {
  width: 29%;
  height: 100%;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.elem2 {
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 */
