@import "src/app/styles/variables";
@import "src/app/styles/heredity";
@import "src/app/styles/mixins";

nz-content {
  min-height: 100vh;
  position: relative;
  padding: 10px;
  background-color: $no-bg-color;
  & .inner-content {
    @extend %total-height-width;
    background-color: $no-bg-color;
    & .header {
      width: 100%;
      @include display-flex(row, space-between, stretch);
      background-color: $no-bg-color;
      & .title {
        @extend %comun-top-title;
      }
    }
    & .gross-information {
      width: 100%;
      margin-top: 20px;
      padding: 16px;
      @extend %custom-border;
      & .element1 {
        .options-filter {
          @include display-flex(row, space-between, stretch);
          @media screen and (max-width: 1270px) {
            width: 100%;
            @include display-flex(column, center, center);
          }
          .filter-options {
            @include display-flex(row, center, center);
            @media screen and (max-width: 1270px) {
              width: 100%;
              flex-direction: column;
              margin-bottom: 10px;
            }
            nz-space {
              @media screen and (max-width: 470px) {
                @include display-flex(column, center, center);
              }
              .groupSelect {
                .changeArrowIcon {
                  @include display-flex(column, center, center);
                  color: #000000;
                  transform: translate(7px, -10px);
                  height: 30px;
                }
              }
             
            }
            .select-center {
              width: 200px;
              margin-left: 20px;
              @media screen and (max-width: 1270px) {
                margin: 10px 0;
              }
            }
          }
        }
      }
      & .element2 {
        @include display-flex(row, space-between, center);
        
        @media screen and (max-width:1060px){
          @include display-flex(column, center, center);
        }
        margin-top: 20px;
        & .quantity,
        .total {
          @include display-flex(column, center, center);
          width: 47%;
          height: 200px;

          @extend %custom-border;
          padding-bottom: 25px;
          @media screen and (max-width:1060px){
            width: 100%;
            height: 160px;
          }
          @media screen and (max-width:390px){
            height: 140px;
          }
          & div {
            font-weight: bold;
            font-size: 20px;
            @media screen and (max-width:1060px){
              @include display-flex(column, center, center);
            }
            @media screen and (max-width:390px){
              font-size: 15px;
            }
            & .color-letter {
              color: #ed668f;
            }
          }
          & > span {
            font-weight: bold;
            font-size: 40px;
            @media screen and (max-width:390px){
              font-size: 25px;
            }
          }
        }
        & .quantity {
          @media screen and (max-width:1060px){
            margin-bottom: 20px;
          }
        }
      }
      & .graphics {
        margin-top: 30px;
        min-width: 100%;
        .principal-container {
          @extend %total-height-width;
          @include display-flex(row, space-between, stretch);
          @media screen and (max-width: 1600px) {
            @include display-flex(column, center, center);
          }
          .graph1 {
            @extend %graph-special;
            @media screen and (max-width: 1600px) {
              width: 100%;
              margin-bottom: 15px;
            }
            & .title-graph1 {
              padding-top: 10px;
              @include display-flex(row, center, center);
              @extend %title-graph;
              @media screen and (max-width: 380px) {
                @include display-flex(column, center, center);
                
              }
              span {
                @media screen and (max-width: 450px) {
                  font-size: 15px;
                }
                @media screen and (max-width: 350px) {
                  font-size: 13px;
                }
              }
            }
            .content-graph1 {
              @include display-flex(row, center, center);
              .graph-canvas {
                width: 75%;
                @media screen and (max-width: 580px) {
                  width: 60%;
                }
                @media screen and (max-width: 440px) {
                  display: none;
                }
              }
              .graph-info {
                @extend %graph-info;
                @media screen and (max-width: 580px) {
                  width: 40%;
                }
                @media screen and (max-width: 440px) {
                  width: 100%;
                }
                & .elem1 {
                  @include display-flex(row, space-between, stretch);
                  @extend %elem1;

                  font-size: 12px !important;
                  @media screen and (max-width: 580px) {
                    font-size: 10px !important;
                    margin-left: 10px;
                  }
                  @media screen and (max-width: 440px) {
                    width: 100%;
                    font-size: 16px !important;
                    margin-left: 10px;
                  }
                }
              }
            }
          }
          .graph2 {
            @extend %graph-special;
            @media screen and (max-width: 1600px) {
              width: 100%;
            }
            .title-graph2 {
              padding-top: 10px;
              @include display-flex(row, center, center);
              @extend %title-graph;
              @media screen and (max-width: 380px) {
                @include display-flex(column, center, center);
              }
              span {
                @media screen and (max-width: 450px) {
                  font-size: 15px;
                }
                @media screen and (max-width: 350px) {
                  font-size: 13px;
                }
                @media screen and (max-width: 300px) {
                  font-size: 10px;
                }
              }
            }
            .content-graph2 {
              @include display-flex(row, center, center);
              .graph-canvas {
                width: 75%;
                @media screen and (max-width: 580px) {
                  width: 60%;
                }
                @media screen and (max-width: 440px) {
                  display: none;
                }
              }
              .graph-info {
                @extend %graph-info;
                @media screen and (max-width: 580px) {
                  width: 40%;
                }
                @media screen and (max-width: 440px) {
                  width: 100%;
                }
                & .elem1 {
                  @include display-flex(row, space-between, stretch);
                  @extend %elem1;
                  font-size: 12px !important;
                  @media screen and (max-width: 580px) {
                    font-size: 10px !important;
                    margin-left: 10px;
                  }
                  @media screen and (max-width: 440px) {
                    width: 100%;
                    font-size: 16px !important;
                    margin-left: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }

    & .table1 {
      background-color: $bg-color;
      padding: 10px;
      margin-top: 30px;
      & .title-table {
        @extend %comun-title-section;
      }
      & .table {
        & nz-table ::ng-deep .ant-table-thead > tr > th {
          padding: 0;
          background: #f0f2f4;
          height: 45px;
          font-weight: bold;
          text-align: start;
          padding-left: 15px;
          font-size: 12px;
          @media screen and (max-width: 720px) {
            height: 30px;
            font-size: 10px;
            text-align: center;
            padding-left: 0;
          }
        }
        & nz-table ::ng-deep .ant-table-tbody > tr > td {
          height: 45px;
          padding-left: 15px;
          text-align: start;
          @media screen and (max-width: 720px) {
            height: 20px;
            font-size: 12px;
          }
        }
        & nz-table tbody > .tr-personal > td {
          @media screen and (max-width: 720px) {
            height: 20px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
