app-topbar{
  background-color: #fff;
  margin-bottom: 10px;
}

.app-layout {
  min-height: 100vh;
}
nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
  overflow-x: hidden;
  background-color: #fff;
}
.hide-sideBar {
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 48px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid rgb(238, 237, 237);

  background-color: #fff;
}
.hide-sideBar:hover {
  background-color: #d0d2d6;
}

.header {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 1rem 0 1.86rem;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1.6rem;
  white-space: nowrap;
  width: 100%;
}
.itemPrincipal {
  margin-bottom: 0 !important;
  transition: none !important;
  background: transparent !important;
  color: #595c97;
}
.infoTitle {
  margin: 0 !important;
  cursor: default;
}
.itemPrincipal ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  margin-top: 0 !important;
}
.icn {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
}
app-footer{
  margin-top: 10px;
  background-color: #fff;
}