<nz-layout class="app-layout">
  <nz-sider nzCollapsible="true" [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]=width nzWidth="256px"
    [nzTrigger]="null" nzBreakpoint='md'>
    <div class="container">
      <div class="header">
        <div class="logo">
          <img [src]="isCollapsed?'':'assets/images/eatos_logo.svg'">

        </div>
      </div>
      <div class="content">
        <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
          <li nz-menu-item nzDisabled="true" nzActive=false class="infoTitle">
            <div [style]="isCollapsed?'display:none':''">DASHBOARD</div>
          </li>

          <li nz-menu-item [style]="isCollapsed?'padding-left: -20px;':''" class="itemPrincipal">
            <i nz-icon nzType="home"></i>
            <span> Home<a [routerLink]="['/content']"></a></span>
          </li>
          <li [style]="isCollapsed?'margin-left:-20px;':''" class="itemPrincipal" nz-submenu
            nzTitle="Analythics y Reports" nzIcon="bar-chart">
            <ul>
              <li nz-submenu nzTitle="Reports">
                <ul>
                  <li nz-menu-item>Sales<a [routerLink]="['/report/sales/gross-transactions']"></a></li>
                  <li nz-menu-item>Option 8</li>
                </ul>
              </li>
              <li nz-submenu nzTitle="Exceptions">
                <ul>
                  <li nz-menu-item>Discount<a [routerLink]="['/report/exceptions/discount']"></a></li>
                  <li nz-menu-item>Option 8</li>
                </ul>
              </li>
            </ul>
          </li>
          <li [style]="isCollapsed?'margin-left: -20px;':''" class="itemPrincipal" nz-submenu nzTitle="Labor Reports"
            nzIcon="fund">
            <ul>
              <li nz-menu-item>Option 9</li>
              <li nz-menu-item>Option 10</li>
              <li nz-menu-item>Option 11</li>
            </ul>
          </li>
          <li [style]="isCollapsed?'margin-left: -20px;':''" class="itemPrincipal" nz-submenu nzTitle="Sales"
            nzIcon="file-markdown">
            <ul>
              <li nz-menu-item>Option 9</li>
              <li nz-menu-item>Option 10</li>
              <li nz-menu-item>Option 11</li>
            </ul>
          </li>
          <li nz-menu-item nzDisabled="true" nzActive=false class="infoTitle">
            <div [style]="isCollapsed?'display:none':''">RESTAURANT SETUP</div>
          </li>
          <li [style]="isCollapsed?'margin-left:-20px;':''" class="itemPrincipal" nz-submenu nzTitle="Restaurant"
            nzIcon="appstore">
            <ul>
              <li nz-menu-item>Option 1</li>
              <li nz-menu-item>Option 2</li>
            </ul>
          </li>
          <li [style]="isCollapsed?'margin-left: -20px;':''" class="itemPrincipal" nz-submenu nzTitle="Menu"
            nzIcon="setting">
            <ul>
              <li nz-menu-item>Option 9</li>
              <li nz-menu-item>Option 10</li>
              <li nz-menu-item>Option 11</li>
            </ul>
          </li>
          <li [style]="isCollapsed?'margin-left: -20px;':''" class="itemPrincipal" nz-submenu nzTitle="Employees"
            nzIcon="setting">
            <ul>
              <li nz-menu-item>Employee List<a [routerLink]="['/employees']"></a></li>
              <li nz-menu-item>Roles</li>
              <li nz-menu-item>Permissions</li>
              <li nz-menu-item>Tip Management</li>
              <li nz-menu-item>Break Management</li>
              <li nz-menu-item>Overtime Setting</li>
            </ul>
          </li>
          <li [style]="isCollapsed?'margin-left:-20px;':''" class="itemPrincipal" nz-submenu nzTitle="Hardware"
            nzIcon="appstore">
            <ul>
              <li nz-menu-item>Option 1</li>
              <li nz-menu-item>Option 2</li>
            </ul>
          </li>
          <li [style]="isCollapsed?'margin-left: -20px;':''" class="itemPrincipal" nz-submenu nzTitle="Connect & Learn"
            nzIcon="setting">
            <ul>
              <li nz-menu-item>Option 9</li>
              <li nz-menu-item>Option 10</li>
              <li nz-menu-item>Option 11</li>
            </ul>
          </li>
          <li [style]="isCollapsed?'margin-left: -20px;':''" class="itemPrincipal" nz-submenu nzTitle="Integrations"
            nzIcon="setting">
            <ul>
              <li nz-menu-item>Option 9</li>
              <li nz-menu-item>Option 10</li>
              <li nz-menu-item>Option 11</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="hide-sideBar" (click)="isCollapsed = !isCollapsed" [style]="isCollapsed?'width:64px':'width:256px'">
      <i class="icn" nz-icon [nzType]="isCollapsed?'right':'left'"></i>
    </div>
  </nz-sider>
  <nz-layout class="right-layout" [style]="isCollapsed?'margin-left: 64px;':'margin-left: 256px;'">
    <app-topbar></app-topbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </nz-layout>

</nz-layout>